body{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: #172b4d;
}

a{
  text-decoration: none;
}

#list li a{
  padding: 5px 10px;
  display: block;
  color: #172b4d;
}

#list li ~ li{
  border-top: 1px solid gray;
}

.from{
 color: #0052cc;
 font-size:14px; 
}

.to{
  border-radius: 3px;
  border: 1px solid #c1c7d0;
  padding: 0 3px;
}

.user{
  width: 45px;
  display: table-cell;
  overflow: hidden;
  vertical-align: top;
  position: relative;
}

.user img{
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.user .badge{
  position: absolute;
  top: -5px;
  right: -5px;
  background-image:url('http://stash.wemakeprice.com/s/953198910/adc717d/1/1.0/_/download/resources/com.atlassian.bitbucket.server.bitbucket-webpack-INTERNAL:icons/icon-approved.svg');
  border: 2px solid #fff;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background: #FFFFFF 0 0;
  background-position: -2px;
  background-size: 16px;
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.14, 0.01, 0.65, 1.61);
  transition-property: opacity, transform;
  transform: scale(1);
  text-align: center;
  display: none;
  font-size: 9px;
  line-height: 16px;
  text-indent: -999em;
}

.pullrequest-info{
  display: table-cell;
  vertical-align: middle;
}

.reviewers{
  width: 100%;
  box-sizing: border-box;
  padding:10px 0 5px 45px;
}